<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asilva.bookbuy" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme_splash" >
        </activity>
        <activity
            android:name=".activities.CadastrarActivity"
            android:label="@string/title_activity_cadastrar"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.RedefinirSenhaActivity"
            android:label="@string/title_activity_redefinir_senha"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.ImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MapaActivity"
            android:theme="@style/Theme.Map"
            android:screenOrientation="locked"
            android:label="@string/title_activity_mapa" >
        </activity>
        <activity
            android:name=".activities.MinhaContaActivity"
            android:label="@string/title_activity_minha_conta"
            android:parentActivityName=".activities.MapaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MapaActivity" />
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".activities.MinhasComprasActivity"
            android:label="@string/title_activity_minhas_compras"
            android:parentActivityName=".activities.MapaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MapaActivity" />
        </activity>

        <activity
            android:name=".activities.EditarCadastroActivity"
            android:label="@string/title_activity_editar_cadastro" >
        </activity>
        <activity
            android:name=".activities.MenuRestauranteActivity"
            android:screenOrientation="locked"
            android:label="@string/title_activity_menu_restaurante"
            android:parentActivityName=".activities.MapaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asilva.bookbuy.activities.MapaActivity" />
        </activity>
        <activity
            android:name=".activities.EditarReservaActivity"
            android:label="@string/title_activity_editar_reserva"
            android:parentActivityName=".activities.MenuRestauranteActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asilva.bookbuy.activities.MenuRestauranteActivity" />
        </activity>
        <activity
            android:name=".activities.PedidoActivity"
            android:label="@string/title_activity_pedido"
            android:parentActivityName=".activities.MapaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asilva.bookbuy.activities.MapaActivity" />
        </activity>
        <activity
            android:name=".activities.ReservaActivity"
            android:label="@string/title_activity_reserva"
            android:parentActivityName=".activities.MapaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.asilva.bookbuy.activities.MapaActivity" />
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme_splash"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".activities.NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
